body {
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.first {
    display: flex;
    flex-direction: column;
    background-color: rgb(38, 54, 88);
    padding: 0 100px 0 100px;
    min-height: auto
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px 0 16px 0;
    margin-bottom: 64px;
    color: white;
}

.logo {
    font-weight: bold;
}

a {
    text-decoration: none;
    margin-left: 16px;
    color: white;
}

.welcome_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 0;
    gap: 48px;
    margin-bottom: 64px;
}

.welcome_text {
    color: white;
}

button {
    background-color: rgb(22, 121, 167);
    padding: 6px;
}

.astronaut_image {
    min-height: 0;
}
img {
    max-width: 100%;
    max-height: 100%;
}